<% layout("layouts/boilerplat.ejs") %>

<div class="row mt-3">
    <div class="col-6 offset-3 ">
        <h2 class="signup-heading col-6 offset-3">signup</h2>
        <br>

        <form action="/signup" method="POST" class="needs-validation" novalidate>

            <div  class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="enter username hear" class="form-control" id="username" required>
                <div class="invalid-feedback">enter proper Username</div>
            </div>

            <div  class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="enter Email hear" class="form-control" id="email" required>
                <div class="invalid-feedback">enter proper Email</div>
            </div>

            <div  class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="enter Password hear" class="form-control" id="Password" required>
                <div class="invalid-feedback">enter proper Password</div>
            </div>
            <button class="btn btn-success">signUp</button>

        </form>
     
    </div>
</div>