<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderlust</title>
</head> -->
<% layout("layouts/boilerplat.ejs") %>

<body>
    <div class="row">
        <div class="col-8 offset-2 ">
            <br><br>
    <h3 class="heading-new">Create New Listing</h3>
    
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div  class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
            <div class="invalid-feedback">enter proper title</div>
        </div>
        

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" placeholder="enter description"class="form-control"required></textarea>
            <div class="invalid-feedback">enter proper description</div>

        </div>
        

        <!-- <div class="mb-3">
            <label for="img-url" class="form-label">Image-URL/LINK</label>
            <input type="text" name="listing[image]" placeholder="enter image url/link"class="form-control">

        </div>     -->
        
        <div class="mb-3">
            <label for="img-url" class="form-label">Uploade Image</label>
            <input type="file" name="listing[image]" class="form-control" id="img-url" required >

        </div> 

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="enter price"class="form-control"required>
                <div class="invalid-feedback">enter proper price</div>

            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="enter country"class="form-control"required>
                <div class="invalid-feedback">enter proper country name</div>

            </div>
        </div>   

       
      
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="enter location"class="form-control"required>
            <div class="invalid-feedback">enter proper location</div>

        </div>
    

       
      
        <button class="btn btn-dark add-btn">ADD</button><br><br>
    </form>
</div>
</div>
  
</body>
<!-- </html> -->