<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    
    <footer>
        <p>&copy; 2025 Your Company. All rights reserved.</p>
        <div class="footer-links">

            <div class="sosial-links">
                
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
    
            <div>
                <a href="">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
            </div>
            
        </div>
    </footer>

</body>
</html>
